.btn {
  padding: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #2e3444;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.6;
}

/* MODIFICATORS */

.btn--block {
  width: 100%;
}

.btn--green {
  background-color: #3eb597;
}

.btn--add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 26px;
}

.btn--add::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../../assets/img/icon-add.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.btn--edit {
  border-radius: 50%;
  background-color: #008c06;
  background-image: url("../../assets/img/icon-edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.btn--close {
  border-radius: 0;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("../../assets/img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-bottom: auto;
}

.btn--logout {
  position: absolute;
  display: none;
  left: -20px;
  top: 50px;
  width: 120%;
  padding: 12px 28px;
  background-color: #fff;
}

.btn-logout {
  display: block;
}

.btn--logout__user {
  display: flex;
  align-items: center;
  color: #000;
}

.btn--logout__user::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../../assets/img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}
