.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal--open {
  display: block;
}

.modal__dialog {
  display: flex;
  height: 100%;
  
}

.modal__content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  background-color: #fff;
  padding: 25px;
}

.modal__close {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.modal__title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.modal__body {
  display: flex;
  flex-direction: column;
}